<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

    <h3><%= resource_name.to_s.humanize %>情報編集</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

<div class="field">
<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
</div>

<!-- 名前入力用のフィールドを追加 -->
<div class="field">
<%= f.text_field :name, class: "form-control", placeholder: "名前" %>
</div>

<% if @user.provider.blank? %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div class="field">
<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "新しいパスワード（※変更しないのであれば空白のままにしてください）" %>
<% if @minimum_password_length %>
<br />
<em><%= @minimum_password_length %> 文字以上</em>
<% end %>
</div>

<div class="field">
<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "新しいパスワード（確認）" %>
</div>

<div class="field">
<%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "現在のパスワード" %>
</div>

<% end %>

<h3>プロフィール画像</h3>
<div class="field">
  <%= profile_img(@user) if profile_img(@user) %>
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>
</div>

<div class="actions">
<%= f.submit "更新", class:"btn btn-primary btn-block" %>
</div>
<% end %>

<h3>アカウントの削除</h3>

<%= button_to "削除", registration_path(resource_name),class:"btn btn-danger btn-block", data: { confirm: "本当に削除しますか？" }, method: :delete %>
<br>
<br>
<%= link_to "戻る", :back, class:"btn btn-info btn-block" %>

</div>
</div>
