<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">

<p id="notice"><%= notice %></p>

<h1>タスク詳細</h1>
<table class="show">
  <tr>
    <td><strong>標題</strong></td>
    <td><%= @task.title %></td>
  </tr>
  <tr>
    <td><strong>依頼者</strong></td>
    <td><%= @task.user.name %></td>
  </tr>
  <tr>
    <td><strong>内容</strong></td>
    <td><%= @task.content %></td>
  </tr>
  <tr>
    <td><strong>期限</strong></td>
    <td><h4><strong><%= @task.deadline.strftime("%Y年%m月%d日 %H時%M分") %></strong></h4></td>
  </tr>
  <tr>
    <td><strong>担当者</strong></td>
    <td><%= @task.charge.name %></td>
  </tr>
  <tr>
    <td><strong>進捗状況</strong></td>
    <td><h4><strong><%= @task.status %></strong></h4></td>
  </tr>
</table>

<%= link_to 'タスクの編集', edit_task_path(@task), class: 'btn btn-info' %> 　　
<%= link_to 'タスクの削除', task_path(@task), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } , class: 'btn btn-danger' %>
<br>
<br>
<%= link_to 'タスクフ一覧に戻る', tasks_path, class: 'btn btn-default' %>

</div>
</div>
