<div class="container">
  <div class="wrapper col-md-12 col-sm-12">

<p id="notice"><%= notice %></p>

<h1>依頼したタスクの一覧</h1>
<%= link_to '新しいタスクの依頼', new_submit_request_path, class: "btn btn-default btn-sm" %>
<br>
<br>

<table class="index">
  <thead>
    <tr>
      <th>依頼者（自分）</th>
      <th>タスク</th>
      <th>メッセージ</th>
      <th>タスク担当者（依頼先）</th>
      <th>依頼状況</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @submit_requests.each do |submit_request| %>
      <tr>
        <td><%= submit_request.user.name %></td> <!--.nameを追加-->
        <td><%= submit_request.task.title %></td><!--.titleの追加-->
        <td><%= submit_request.message %></td>
        <td><%= submit_request.request_user.name %></td><!--idを削除し.nameを追加-->
        <td><%= submit_request.status.to_i %></td>
        <td><%= link_to 'タスクの詳細', submit_request, class: "btn btn-info btn-sm" %></td>
        <td><%= link_to 'タスクの編集', edit_submit_request_path(submit_request), class: "btn btn-warning btn-sm" %></td>
        <td><%= link_to 'タスクの削除', submit_request, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '依頼されたタスク一覧に移動', inbox_submit_requests_path, class: "btn btn-default btn-sm" %>
<br>
<br>
<%= link_to '新しいタスクの依頼', new_submit_request_path, class: "btn btn-default btn-sm" %>

</div>
</div>
